# Django settings
DJANGO_DEBUG=True
DJANGO_SECRET_KEY="change-me-in-production"
# Separate hosts with commas: api.example.com,127.0.0.1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Gunicorn workers
WEB_WORKERS=1

# External ports
EXTERNAL_PORT_BACKEND=30000
EXTERNAL_PORT_RABBITMQ=30001
EXTERNAL_PORT_RABBITMQ_MANAGEMENT=30002
EXTERNAL_PORT_REDIS=30003
EXTERNAL_PORT_POSTGRES=30004

# Service links
POSTGRES_LINK=db:5432
REDIS_LINK=redis:6379
RABBITMQ_LINK=rabbitmq:5672

# PostgreSQL settings
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis settings
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379/1

# RabbitMQ settings
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
