# Django settings
DEBUG=True
SECRET_KEY="change-me-in-production"
# Separate hosts with commas: api.example.com,127.0.0.1
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL settings
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432
